<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= @teamname %></title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <h1><%= @teamname %>:</h1>
    <ul>
      <% @roster.each do |player| %>
        <% if player["team"] == @teamname%>
      <li> <%= player["first_name"] %> <%= player["last_name"] %> - <a href="/positions/<%= player["position"] %>"> <%= player["position"] %> </a></li>
       <% end %>
      <% end %>
    </ul>
  </body>

</html>
